.calendar-icon-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.date-picker-container {
  margin-bottom: 24px;
  box-shadow: var(--shadow);
  background-color: #fff;
  border-radius: 18px;
  padding: 12px;
  width: fit-content;
}
